[Desktop Entry]
Name=Change Account Password
Comment=Will change the login password for this account
Icon=/home/pi/Desktop/source_files/Icons/AccountPassword.ico
Exec=lxterminal -t "Change Account Password" -e /home/pi/Desktop/source_files/change_account_password.sh
Type=Application
Encoding=UTF-8
Terminal=true
Categories=None;
