[Desktop Entry]
Name=Change Wifi Password
Comment=Will change Wifi connection password for this Raspberry Pi
Icon=/home/pi/Desktop/source_files/Icons/WifiPassword.ico
Exec=lxterminal -t "Change Wifi Password" -e sudo /home/pi/Desktop/source_files/change_wifi_password.sh
Type=Application
Encoding=UTF-8
Terminal=false
Categories=None;
